<!DOCTYPE html>
<html>
  <head>
    <title>{{ title }}</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    />

    <meta name="importmap-type" content="systemjs-importmap" />
    <script type="systemjs-importmap">
            {
              "imports": {
      {#          "@sock-shop/user": "http://localhost:8081/sock-shop-user.js",#}
      {#          "carts": "http://localhost:8082/js/app.js",#}
      {#          "catalogue": "http://localhost:4200/main.js",#}

                "@sock-shop/user": "{{ microfrontendBaseUrl }}/user.js",
                "carts": "{{ microfrontendBaseUrl }}/carts.js",
                "catalogue": "{{ microfrontendBaseUrl }}/catalogue.js",

                "single-spa": "https://cdnjs.cloudflare.com/ajax/libs/single-spa/5.5.3/system/single-spa.min.js",

                "js-cookie": "https://cdn.jsdelivr.net/npm/js-cookie@beta/dist/js.cookie.min.js",
                "jquery": "https://code.jquery.com/jquery-3.5.1.slim.min.js",
                "popper.js": "https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js",
                "bootstrap": "https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js",
                "axios": "https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"
              }
            }
    </script>

    <link
      rel="preload"
      href="https://cdnjs.cloudflare.com/ajax/libs/single-spa/5.5.3/system/single-spa.min.js"
      as="script"
      crossorigin="anonymous"
    />

    <script src="https://unpkg.com/import-map-overrides@1.15.1/dist/import-map-overrides.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/systemjs/6.1.1/system.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/systemjs/6.1.1/extras/amd.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/systemjs/6.1.1/extras/named-exports.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/systemjs/6.1.1/extras/named-register.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/systemjs/6.1.1/extras/use-default.min.js"></script>
  </head>

  <body>
    <div>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Socks Shop</a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarSupportedContent"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown" id="user"></li>
            <li class="nav-item dropdown" id="carts"></li>
          </ul>
        </div>
      </nav>

      <div class="container pt-2" id="catalogue"></div>
    </div>

    <script>
      System.import('bootstrap').then((bs) => {});

      System.import('single-spa').then(function (singleSpa) {
        singleSpa.registerApplication(
          'user',
          () => System.import('@sock-shop/user'),
          (location) => true
        );

        singleSpa.registerApplication(
          'catalogue',
          () => System.import('catalogue'),
          (location) => true
        );

        singleSpa.registerApplication(
          'carts',
          () => System.import('carts'),
          (location) => true
        );

        singleSpa.start();
      });
    </script>
    <import-map-overrides-full></import-map-overrides-full>
  </body>
</html>
