{% extends 'layout.twig' %} {% block body %}
<div class="row" id="catalogue-products"></div>

<script>
  $.ajaxSetup({
    contentType: 'application/json; charset=utf-8',
    xhrFields: {
      withCredentials: true,
    },
  });

  $(document).ready(() => {
    $.getJSON('{{ apiBaseUrl }}/catalogue', function (data) {
      if (data != null) {
        $.each(data, function (index, element) {
          $('#catalogue-products').append(`
            <div class="col-lg-4 col-md-6 mb-4">
              <div class="card h-100">
                <img class="card-img-top" src="{{ apiBaseUrl }}${element.imageUrl[0]}" />
                <div class="card-body">
                  <h4 class="card-title">${element.name}</h4>
                  <h5>&dollar;${element.price}</h5>
                  <p class="card-text">${element.description}</p>
                </div>
                <div class="card-footer text-right">
                  <button type="button" class="btn btn-primary"
                    onclick="return catalogue_addToCart('${element.id}', '${element.name}', '${element.price}')">
                      Add to cart
                  </button>
                </div>
              </div>
            </div>
          `);
        });

        const height = window.document.body.scrollHeight;

        const iframeDimensions = {
          width: '100%',
          height: `${height}px`,
        };

        window.parent.postMessage(
          ['catalogue-iframe', 'iframe-resize', iframeDimensions],
          '*'
        );
      }
    });
  });

  function catalogue_addToCart(productId, productName, productPrice) {
    const product = {
      id: productId,
      name: productName,
      price: productPrice,
    };

    window.parent.document
      .getElementById('carts-iframe')
      .contentWindow.postMessage(
        `carts:add-product-to-cart--${JSON.stringify(product)}`
      );
  }
</script>
{% endblock %}
